<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>
</head>

<body id="register-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="container">
      <div class="clearfix-32"></div>

      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <form action="/auth/register" method="post">
            <h1 class="page-heading">Đăng ký</h1>

            <div class="mb-3">
              <label for="fullName" class="form-label">Họ tên</label>
              <input type="fullName" name="fullName" class="form-control" id="fullName" placeholder="Họ tên" required />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Email" required />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" name="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" required />
            </div>

            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary btn-full">Đăng ký</button>
            </div>

            <div class="text-center">
              <p>Bạn đã có tài khoản? <a href="/auth/login">Đăng nhập ngay</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <%- include(layouts + '/foot'); %>
</body>

</html>