$primary: #841206;
$secondary: #d4aa5f;
$border: #eee;

$fontNormal: 400;
$fontMedium: 600;
$fontBold: 700;
$fontExtraBold: 800;

$fontFamilyBody: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
$fontFamilySecondary: "Yeseva One", cursive;
$fontFamilyReading: "Literata", serif;

body {
  font-family: $fontFamilyBody;
}

// Base

a,
a:hover {
  text-decoration: none;
}

.btn-daminest {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;

  height: 40px;
  border-radius: 50em;
  font-weight: $fontBold;
  border: 0 !important;
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase !important;

  &.primary {
    background-color: $primary !important;
    color: $secondary !important;

    &:hover {
      background-color: $secondary !important;
      color: $primary !important;
    }
  }

  &.secondary {
    background-color: $secondary !important;
    color: $primary !important;

    &:hover {
      background-color: $primary !important;
      color: $secondary !important;
    }
  }

  &.large {
    height: 56px;
    font-size: 16px;
  }

  &.block {
    width: 100%;
  }
}

.clearfix-16 {
  display: block;
  height: 16px;
}

.clearfix-32 {
  display: block;
  height: 32px;
}

.clearfix-56 {
  display: block;
  height: 56px;
}

// Page Hero Unit

.page-hero-unit {
  min-height: calc(100vh - 144px);
  position: relative;

  h1 {
    width: 100%;
    text-align: center;
    font-family: $fontFamilySecondary;
    color: $secondary;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;

    span {
      display: block;
      border-bottom: 8px solid $secondary;
      position: relative;
    }
  }

  p {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    &.paragraph {
      font-size: 16px;
    }

    &.sub-heading {
      font-size: 16px;
    }
  }

  .btn-daminest {
    margin-top: 32px;
    &:hover {
      background: #fff !important;
    }
  }

  .featured-image-desktop {
    display: none;
    width: 100vw;
    min-height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100vw auto;
  }

  // md
  @media (min-width: 720px) {
    h1 {
      font-size: 40px;
    }

    p {
      &.sub-heading {
        font-size: 24px;
      }
    }
  }

  // lg
  @media (min-width: 960px) {
    h1 {
      font-size: 56px;
      width: auto;
      text-align: left;
      span {
        width: 50%;
      }
    }
    p {
      text-align: left;
    }
    .featured-image-mobile {
      display: none;
    }
    .featured-image-desktop {
      display: block;
      min-height: calc(100vh - 144px);
      width: 100%;
      background-size: cover;
      opacity: 1;
    }
  }

  .left-content {
    background: $primary url("../images/pattern.png") no-repeat bottom;
    background-size: auto 50vh;

    .content {
      padding: 56px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    // lg
    @media (min-width: 960px) {
      .content {
        align-items: flex-start;
        min-height: calc(100vh - 144px);
        padding: 64px;
      }
    }
  }
}

// Header

header.header {
  position: relative;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 24px 40px #0000000a;

  .top-nav {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    .left,
    .right {
      display: flex;
      flex: 1;
    }

    .right {
      justify-content: right;
    }

    .logo {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .circle {
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background: yellow;
      border-radius: 20px;

      + .circle {
        margin-left: 8px;
      }

      &.auth {
        background-color: $secondary;
        color: $primary;
      }

      &.cart {
        background-color: $primary;
        color: $secondary;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-around;
    background: #fff;

    a {
      height: 56px;
      display: flex;
      align-items: center;
      color: $secondary;
      font-weight: $fontMedium;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-family: $fontFamilySecondary;
      font-size: 16px;
    }

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0px 24px 40px #0000000a;
    }
  }
}

// Footer

footer.footer {
  position: relative;
  box-shadow: 0px -8px 32px #0000000a;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/pattern.png") no-repeat;
    background-size: 100vw auto;
    z-index: -1;
    opacity: 0.25;
  }

  .contact-info {
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      i {
        margin-right: 16px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #f5f5f5;
      }

      a {
        color: inherit;
      }
    }

    span {
      display: block;
      flex: 1;
    }
  }

  .copyright {
    position: relative;
    border-top: 1px solid #eee;

    .copyright-left {
      font-weight: $fontMedium;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }

    .copyright-right {
      display: flex;
      flex: 1;
      justify-content: center;

      .designed-by {
        display: flex;
        align-items: center;
        border-radius: 9999px;
        font-weight: $fontMedium;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        background: #f5f5f5;

        a {
          margin-left: 4px;
          color: #000;
        }
      }

      .change-language {
        display: none;
        margin-right: 16px;
      }
    }

    // md
    @media (min-width: 720px) {
      .copyright-left {
        height: 40px;
        justify-content: flex-start;
        margin-bottom: 0;
      }

      .copyright-right {
        justify-content: flex-end;
      }
    }

    // lg
    @media (min-width: 960px) {
      .copyright-right {
        .change-language {
          display: flex;
        }
      }
    }
  }
}

// Home

.home-hero-unit {
  background: url("../images/home/hero-unit.jpg") no-repeat;
  background-size: cover;
  position: relative;

  .content {
    min-height: calc(100vh - 144px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-family: $fontFamilySecondary;
      font-size: 40px;
      text-align: center;
      color: $primary;
      text-shadow: 3px 2px 1px #ebcfa3;
      letter-spacing: 8px;
      margin-top: 0;
      margin-bottom: 16px;
      span {
        display: block;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      text-align: center;
      color: $secondary;
      font-weight: $fontBold;
      letter-spacing: 4px;
      text-shadow: 3px 2px 1px #fae3a3;
      span {
        display: block;
      }
    }

    // md
    @media (min-width: 720px) {
      h1 {
        font-size: 48px;
        span {
          display: inline;
        }
      }
      p {
        font-size: 24px;
        span {
          display: inline;
        }
      }
    }

    // lg
    @media (min-width: 960px) {
      h1 {
        font-size: 64px;
      }
    }

    // xl
    @media (min-width: 1140px) {
      h1 {
        font-size: 80px;
      }
      p {
        font-size: 32px;
      }
    }
  }
}

.home-intro-1 {
  .col-left {
    background-color: $primary;
    background-image: url("../images/pattern.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 50vh;
  }

  .content {
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      font-family: $fontFamilySecondary;
      font-size: 32px;
      color: $secondary;
      margin-top: 0;
      margin-bottom: 32px;
    }

    p {
      color: #fff;
      opacity: 0.5;
      font-size: 18px;
      margin-bottom: 32px;
    }

    .btn-daminest {
      &:hover {
        background: #fff !important;
      }
    }

    // md
    @media (min-width: 720px) {
      h2 {
        font-size: 48px;
      }
    }

    // lg
    @media (min-width: 960px) {
      padding: 32px 64px;
      min-height: 100vh;
    }
  }

  .featured-image {
    height: 50vh;
    background: url("../images/home/intro-1.jpg") center no-repeat;
    background-size: cover;

    // lg
    @media (min-width: 960px) {
      width: 50vw;
      height: 100vh;
    }
  }
}

.home-intro-2 {
  .col-right {
    background-color: $secondary;
    background-image: url("../images/pattern.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 50vh;
  }

  .content {
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      font-family: $fontFamilySecondary;
      font-size: 32px;
      color: $primary;
      margin-top: 0;
      margin-bottom: 32px;
    }

    p {
      color: #000;
      opacity: 0.5;
      font-size: 18px;
      margin-bottom: 32px;
    }

    .btn-daminest {
      &:hover {
        background: #fff !important;
      }
    }

    // md
    @media (min-width: 720px) {
      h2 {
        font-size: 48px;
      }
    }

    // lg
    @media (min-width: 960px) {
      padding: 32px 64px;
      min-height: 100vh;
    }
  }

  .featured-image {
    height: 50vh;
    background: url("../images/home/intro-2.jpg") center no-repeat;
    background-size: cover;

    // lg
    @media (min-width: 960px) {
      width: 50vw;
      height: 100vh;
    }
  }
}

.home-product-list {
  padding: 64px 0;
  background-color: $primary;
  background-image: url("../images/pattern.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  h2.heading {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: $fontFamilySecondary;
    font-size: 32px;
    color: $secondary;
    text-align: center;
    background-image: linear-gradient(transparent 66%, rgba(0, 0, 0, 0.08) 34%);

    // md
    @media (min-width: 720px) {
      font-size: 48px;
    }
  }

  .view-more {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 16px;
    border-radius: 4px;
    font-weight: $fontMedium;

    .btn-daminest {
      &:hover {
        background: #fff !important;
      }
    }
  }
}

// Product

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;

  &-stars {
    font-size: 16px;
    line-height: normal;

    i {
      color: #fadb14;
    }
  }

  &-avg {
    font-size: 16px;
    line-height: normal;
    margin-left: 8px;
    font-weight: $fontMedium;
  }

  &-total {
    font-size: 16px;
    color: #bfbfbf;
    line-height: normal;
    cursor: pointer;
    margin-left: 8px;
  }
}

.product-item {
  height: 100%;
  padding: 0px 16px 16px 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.08) 1px 3px 8px;
  background-color: #fff;
  overflow: hidden;

  .featured-image {
    position: relative;
    cursor: pointer;
    height: 320px;
    margin-right: -16px;
    margin-bottom: 16px;
    margin-left: -16px;
    overflow: hidden;

    .featured-image-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    .featured-image .featured-image-img {
      transform: scale(1.1);
    }
  }

  .title {
    a {
      font-size: 18px;
      font-weight: $fontBold;
      color: #000;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      max-height: 54px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    margin-top: 0;
    margin-bottom: 8px;
  }

  .price {
    margin-top: 8px;
    margin-bottom: 8px;
    .regular,
    .sale {
      display: block;
    }
    .regular {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: $fontBold;
      color: $primary;
      .percent-discount {
        font-size: 14px;
        font-weight: $fontNormal;
        color: #9b9b9b;
        margin-left: 8px;
      }
    }
    .sale {
      font-size: 14px;
      font-weight: $fontNormal;
      text-decoration: line-through;
      color: #9b9b9b;
    }
  }

  .description {
    margin-bottom: 0;

    display: block;
    display: -webkit-box;
    max-width: 100%;
    max-height: 72px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Product View

.product-view {
  background: $primary;
  min-height: calc(100vh - 144px);
  padding: 16px 0;

  // md
  @media (min-width: 720px) {
    padding: 32px 0;
  }

  .featured-image {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;

    .featured-image-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: all 0.5s ease;
    }

    &:hover {
      .featured-image-img {
        transform: scale(1.1);
      }
    }

    // md
    @media (min-width: 720px) {
      min-height: 400px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
    }
  }

  .product-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 16px;
    background-color: #fff;

    // md
    @media (min-width: 720px) {
      padding: 32px;
    }

    // lg
    @media (min-width: 960px) {
      border-bottom-left-radius: 0;
      border-top-right-radius: 4px;
    }
  }

  h2.title {
    margin-top: 0;
    margin-bottom: 8px;

    a {
      font-family: $fontFamilySecondary;
      font-size: 24px;
      font-weight: normal;
      max-height: 100% !important;
      color: #000;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (min-width: 720px) {
      a {
        font-size: 32px;
      }
    }
  }

  .price {
    margin-top: 8px;
    margin-bottom: 8px;

    .regular,
    .sale {
      display: block;
    }

    .regular {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: $fontBold;
      color: $primary;

      .percent-discount {
        font-size: 14px;
        font-weight: $fontNormal;
        color: #9b9b9b;
        margin-left: 8px;
      }
    }

    .sale {
      font-size: 16px;
      font-weight: $fontNormal;
      text-decoration: line-through;
      color: #9b9b9b;
    }
  }

  .description {
    flex-grow: 1;
  }

  .number-of-product {
    height: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 9999px;
    overflow: hidden;

    label {
      width: 100px;
      height: 40px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: #000;
      font-weight: $fontMedium;
    }
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    background: #000;
    opacity: 0.24;
    z-index: 100;
  }

  .properties {
    background: #fff;
    padding: 16px;
    border-radius: 4px;
    margin-top: 16px;

    // md
    @media (min-width: 720px) {
      padding: 32px;
      margin-top: 32px;
    }

    &-heading {
      font-size: 24px;
      font-family: $fontFamilySecondary;
      color: $primary;
      margin-top: 0;
      margin-bottom: 16px;

      span {
        display: block;
        height: 8px;
        width: 100%;
        background: $secondary;
      }

      // md
      @media (min-width: 720px) {
        margin-bottom: 32px;
        span {
          width: 50%;
        }
      }
    }

    .property-item {
      display: flex;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #eee;
      flex-direction: column;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
      }

      &-label {
        font-weight: $fontBold;
        flex: 1;
        margin-bottom: 8px;
        line-height: normal;
      }

      &-value {
        flex: 2;
      }
    }
  }

  .commitment {
    margin-top: 32px;

    &-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #fafafa;
      padding: 16px;
      border-radius: 4px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
        border-radius: 9999px;
        color: $primary;
        background: $secondary;
      }

      span {
        font-weight: $fontMedium;
      }
    }
  }
}

.input-quantity {
  display: flex;
  align-items: center;

  &-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    outline: 0;
    cursor: pointer;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background: #dfdfdf;
      color: #f5f5f5;
    }
  }

  &-value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    line-height: normal;

    span {
      color: #000;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    strong {
      font-weight: $fontMedium;
      margin-right: 4px;
    }
  }
}

.friendly-for-reading {
  font-size: 18px;
  line-height: 1.5;
  font-family: $fontFamilyReading;
  background: #fff;
  border-radius: 4px;
  h1,
  h2,
  h3 {
    font-family: $fontFamilySecondary;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  h1,
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    margin-bottom: 16px;
  }
  ul {
    margin-bottom: 16px;
    padding-left: 32px;
    li {
      margin-bottom: 8px;
    }
  }
  figure {
    margin-bottom: 16px;
  }
  figcaption {
    margin: 8px auto 0 auto;
    text-align: center;
    font-style: italic;
    width: 70%;
    max-width: 100%;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  blockquote {
    text-align: center;
    border-top: 4px solid #eee;
    border-bottom: 4px solid #eee;
    padding: 16px;
    font-weight: $fontMedium;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // lg
  @media (min-width: 960px) {
    line-height: 1.8;
    font-size: 21px;
    box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    padding: 56px;
    h1,
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 32px;
    }
    blockquote {
      padding: 32px;
    }
  }
}

// Handbook

.post-item {
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 1px 3px 8px;
  padding: 0px 16px 16px 16px;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    .img {
      transform: scale(1.1);
    }
  }

  .featured-image {
    height: 200px;
    margin-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
    overflow: hidden;
    cursor: pointer;
    .img {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 200px;
      transition: all 0.5s ease;
    }
  }

  h1.name {
    a {
      color: #000;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      max-height: 54px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    font-size: 18px;
    font-weight: $fontBold;
    margin-top: 0;
    margin-bottom: 8px;
  }

  p.description {
    color: #9b9b9b;
    margin-bottom: 0;

    display: block;
    display: -webkit-box;
    max-width: 100%;
    max-height: 72px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.post-view {
  h1 {
    font-family: $fontFamilySecondary;
    font-size: 32px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  // lg
  @media (min-width: 960px) {
    h1 {
      font-size: 40px;
    }
  }

  .content {
    position: relative;

    // lg
    @media (min-width: 960px) {
      padding-top: 25%;
    }
  }

  .featured-image {
    width: 100vw;
    height: auto;
    margin-bottom: 16px;

    // lg
    @media (min-width: 960px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

// xxl: 1141,
// xl: 1140,
// lg: 960,
// md: 720,
// sm: 540,
// xs: 540,
