<header class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="left"></div>

      <div class="logo">
        <img src="/images/logo-with-text.svg" height="56px" />
      </div>

      <div class="right">
        <% if (isAuthenticated) { %>
          <%- include(layouts + '/user-dropdown'); %>
        <% } %>

        <% if (!isAuthenticated) { %>
          <div class="right-item">
            <a href="/auth/login" class="circle auth">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </div>
        <% } %>

        <div class="right-item">
          <a href="/cart" class="circle cart">
            <i class="fas fa-shopping-cart"></i>
            <span id="cart-badge">0</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar-primary">
  <div class="container">
    <div class="navbar-primary-content">
      <a href="/" id="nav-item-home">Trang chủ</a>
      <a href="/about" id="nav-item-about">Giới thiệu</a>
      <a href="/products" id="nav-item-products">Sản phẩm</a>
      <a href="/handbook" id="nav-item-handbook">Cẩm nang</a>
      <a href="/contact" id="nav-item-contact">Liên hệ</a>
    </div>
  </div>
</nav>