<div class="home-product-list">
  <div class="container">
    <h2 class="heading">Yến Sào Sạch & Chất Lượng Cao</h2>

    <div class="row gx-3">
      <div class="col-4">
        <%- include('../products/item'); %>
      </div>
      <div class="col-4">
        <%- include('../products/item'); %>
      </div>
      <div class="col-4">
        <%- include('../products/item'); %>
      </div>
    </div>

    <div class="view-more mt-3">
      <a class="btn-daminest secondary large block">Xem tất cả sản phẩm</a>
    </div>
  </div>
</div>
