<footer class="footer">
  <div>
    <div class="clearfix-56"></div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <img src="/images/logo-with-text.svg" height="56" class="logo" />

          <div class="clearfix-16"></div>

          <div class="contact-info">
            <div class="item address">
              <i class="fa fa-home" style="font-size: 18px"></i>
              <span>
                KTX Khu B - ĐHQG HCM, Linh Trung, Thủ Đức, HCM
              </span>
            </div>

            <div class="item phoneNumber">
              <i class="fa fa-phone" style="font-size: 18px"></i>
              <a href="tel:0777888148">
                0777 888 148
              </a>
            </div>

            <div class="item website">
              <i class="fa fa-link" style="font-size: 18px"></i>
              <a href="https://daminest.penphy.com">
                https://daminest.penphy.com
              </a>
            </div>

            <div class="item email">
              <i class="fa fa-envelope" style="font-size: 18px"></i>
              <a href="mailto:contact@daminest.penphy.com">
                contact@daminest.penphy.com
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4"></div>
      </div>
    </div>

    <div class="clearfix-56"></div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="clearfix-32"></div>

      <div class="row">
        <div class="col-12 col-md-6">
          <span class="copyright-left">
            © 2021 Công Ty TNHH MTV Yến Sào DaniNest
          </span>
        </div>

        <div class="col-12 col-md-6">
          <div class="copyright-right">
            <span class="designed-by">
              Designed by <a href="https://penphy.com" rel="noopener noreferrer" target="_blank">18120113 - 18120138</a>
            </span>
          </div>
        </div>
      </div>

      <div class="clearfix-32"></div>
    </div>
  </div>
</footer>
