<header class="header">
  <div class="container">
    <div class="top-nav">
      <div class="left"></div>

      <div class="logo">
        <img src="/images/logo-with-text.svg" height="56" />
      </div>

      <div class="right">
        <% if (isAuthenticated) { %>
          <div class="dropdown right-item">
            <a href="/profile" class="circle auth" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-alt"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownUser">
              <li><a class="dropdown-item" href="/profile">Quản lý tài khoản</a></li>
              <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
            </ul>
          </div>
        <% } else { %>
          <div class="right-item">
            <a href="/auth/login" class="circle auth">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </div>
        <% } %>

        <div class="right-item">
          <a href="/cart" class="circle cart">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="nav">
      <a href="/" id="nav-item-home">Trang chủ</a>
      <a href="/about" id="nav-item-about">Giới thiệu</a>
      <a href="/products" id="nav-item-products">Sản phẩm</a>
      <a href="/handbook" id="nav-item-handbook">Cẩm nang</a>
      <a href="/contact" id="nav-item-contact">Liên hệ</a>
    </div>
  </div>
</header>
