<div class="product-item">
  <a href="#">
    <div class="featured-image">
      <div class="featured-image-img" style="background-image: url('/images/product/HH11.jpg')"></div>
    </div>
  </a>

  <h2 class="title">
    <a href="/products/view">NT01 - Yến Thô 100G</a>
  </h2>

  <div class="rating">
    <div class="rating-stars">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
    </div>
    <span class="rating-avg">4.5</span>
    <span class="rating-total">(5 đánh giá)</span>
    <!-- <span class="rating-total">Chưa có đánh giá</span> -->
  </div>

  <div class="price">
    <span class="regular">
      90.000 VNĐ
      <span class="percent-discount">
        -10%
      </span>
    </span>
    <span class="sale">
      100.000 VNĐ
    </span>
    <!-- <span class="regular">
      100.000 VNĐ
    </span> -->
  </div>

  <p class="description">
    Ipsum ligula libero. Ultricies integer laoreet felis ut eu. Pharetra nec lorem eu nec dolor. Lacinia tempor blandit
    eget aliquam consequat vestibulum mollis lacinia aliquam duis suscipit. At mi orci. Faucibus velit sapien viverra
    suspendisse consectetuer.
  </p>
</div>