<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>

  <link rel="stylesheet" href="/css/profile/index.css">
</head>

<body id="checkout-success-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="container">
      <h1>Success</h1>
    </div>
  </main>

  <%- include(layouts + '/foot'); %>
</body>

</html>
